* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: uppercase; */
}


header {
    width: 70%;
    height: auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 40px;
    z-index: 999999;
    left: 12%;
    background-color: rgba(0, 0, 0, 0.433);
    padding: 20px;
    border-radius: 15px;
}

header nav {
    width: auto;
    height: auto;
}

.logo {
    width: 160px;
    height: auto;
    filter: brightness(0) invert(1);
    gap: 15px;
}

.logo>a {
    width: 80%;
    height: auto;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.nav_links {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav_links>ul {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav_links li {
    overflow: hidden;
    list-style: none;
}

.nav_links li:nth-child(6) {
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

.nav_links li:nth-child(6):hover {
    background-color: white;
    color: white;
}

.nav_links a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    transition: 0.4s;
    color: white;
}

.nav_links a:hover {
    color: orange;
}

.nav_links li {
    width: auto;
    height: auto;
    display: flex;
    color: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.nav_links img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.menu_btn {
    width: 50px;
    height: 50px;
    /* background-color: red; */
    padding: 2px;
    border: none;
    background-color: white;
    color: white;
    background: transparent;
    display: none;
    font-size: 30px;
}

.x_btn {
    width: 40px;
    height: 40px;
    position: relative;
    color: white;
    border: none;
    font-size: 30px;
    background: transparent;
    right: -91.7%;
}

.cafe_images {
    width: auto;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    animation: cafe 10s linear infinite;
    transform: scale(1.5px);
}

@keyframes cafe {
    0% {
        background-image: url(./download.jpg);
    }

    20% {
        background-image: url(./download-1.jpg);
    }

    40% {
        background-image: url(./download-2.jpg);
    }

    60% {
        background-image: url(./download-6.jpg);
    }

    80% {
        background-image: url(./download-4.jpg);
    }

    100% {
        background-image: url(./download.jpg);
    }

}

.container_menu {
    width: 280px;
    height: 400px;
    display: flex;
    border-radius: 9%;
    background-color: rgba(0, 0, 0, 0.489);
    align-items: center;
    transform: rotate(45deg);
    justify-content: center;
}

.container_klang {
    width: 60%;
    height: 60px;
    color: orange;

}

.container_klang {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_klang {
    transform: rotate(315deg);
    width: auto;
    height: auto;
    color: white;
    padding: 20px;
    gap: 40px;
}

.container_klang>h1 {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_klang p {
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.container_klang>div {
    display: flex;
    gap: 15px;
}

.container_klang button {
    width: 135px;
    height: 50px;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    color: white;
    background-color: orange;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.container_klang :first-child {
    background-color: transparent;
    border: none;
    color: white;
}

.container_klang button:hover {
    color: orange;
    background-color: white;
}

.version:hover {
    color: black
}

.container_klang:nth-child(2) {
    color: white;
}

.kl_fon {
    width: 100%;
    height: auto;
    background-color: #875c31;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 100px 20px;
}

.cafe_kl {
    width: 700px;
    height: auto;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 15px;
}

.cafe_kl>video {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cafe_kl>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.246), rgba(255, 166, 0, 0.595));
}

.cafe_kl>div h3 {
    padding: 20px;
    color: white;
    float: right;
}

.bari {
    width: 500px;
    height: auto;
    color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.bari h2 {
    color: white;
    font-size: 40px;
}

.bari p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.bari button {
    padding: 15px 20px;
    background-color: transparent;
    transition: 0.4s;
    color: rgb(251, 249, 245);
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
}

.bari button:hover {
    background-color: white;
    color: orange;

}

.creative_container {
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px 100px;
    background-color: #bd956e;
}

.creative_menu {
    width: auto;
    height: auto;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.meet_people_box {
    width: 100%;
    /* background-color: #875c31; */
    justify-content: center;
    gap: 15px;
    align-items: center;
    display: flex;
}

.meet_people {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.meet_people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.meet_people_info {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    display: flex;
    height: 100%;
    background-color: rgba(156, 90, 47, 0.4);
}

.meet_people_info h2 {
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    position: relative;
    width: 150px;

}

.meet_people_info p {
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.meet_people:hover img {
    scale: 1.1;
}

.meet_people_info div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meet_people_info span {
    width: 90px;
    height: auto;
    color: white;
    position: relative;
    text-align: center;
    border-radius: 5%;
    left: -20%;
    padding: 6px;
    background-color: rgb(231, 153, 6);
}

.meet_people_info span::before {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 35%;
    left: -5%;
    transform: rotate(45deg);
    background-color: rgb(231, 153, 6);
    content: '';

}

.menu_box {
    width: 100%;
    height: auto;
    padding: 100px 0;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    background-image: url(./nkar1.jpg);
    background-size: cover;
    gap: 20px;
}

.menu {
    width: 600px;
    height: auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.54);
    /* justify-content: center; */
    border-radius: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.menu_info {
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    list-style: none;
    display: flex;
}

.menu_info p {
    color: rgb(148, 148, 148);
}

.menu_info ::before {
    width: auto;
    height: auto;
    position: relative;
}

.menu_info ul {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu_info li {
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 15px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.menu_info li>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_info span {
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    padding: 10px 5px;
    gap: 15px;
    padding: 10px;
    color: orange;
    align-items: center;
    display: flex;
}

.menu_info>div {
    width: 100%;
    padding: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    display: flex;
    gap: 30px;

}

.menu_info h3 {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    color: white;
}

.menu_info h4 {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 5px;
    color: white;
    background-color: orange;
}

.menu_info h4::before {
    width: 8px;
    height: 8px;
    position: absolute;
    content: "";
    background-color: orange;
    justify-content: center;
    transform: rotate(45deg);
    align-items: center;
    left: -4%;
    display: flex;
}

.menu_info div>div {
    width: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.testimonials_container {
    width: 100%;
    height: auto;
    background-color: #7c5c52;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 15px;
    padding: 30px;
    justify-content: baseline;
    display: flex;
}

.testitle_info {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}



.worker_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c5c52;
    gap: 15px;
}

.worker::before {
    /* background-color: red; */
    position: absolute;
    top: 3%;
    right: -9%;
    content: "";
    border: 20px solid transparent;
    border-left: 20px solid white;

}

.worker {
    width: 500px;
    height: auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image: url(./coffee.jpg);
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    border-radius: 15px;
}

.worker::before {
    /* background-color: red; */
    position: absolute;
    top: 3%;
    right: -9%;
    content: "";
    border: 20px solid transparent;
    border-left: 20px solid white;
}

.worker::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: red; */
    right: -66.5px;
    border: 5px solid #7c5c52;
    background-color: white;
    position: absolute;
    content: "";
    top: 5%;


}

.worker_info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.worker_info>div {
    width: 100%;
    display: flex;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.worker_info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.worker_info>div:first-child {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.worker_info>div:nth-child(2) {
    background-color: #bd956e;
}

.worker_info>div:nth-child(2)>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.worker_info>div>div:first-child {
    padding: 13px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}

.line1,
.line2 {
    width: 600px;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
    gap: 130px;
    /* background-color: green; */
    border-right: 5px solid white;
    position: relative;
}

.line2 {
    border: none;
}

.worker_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c5c52;
    overflow: hidden;
    gap: 15px;
}

.worker {
    width: 500px;
    height: auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image: url(./coffee.jpg);
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    border-radius: 15px;
}

.line2>.worker::after {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -17%;

}

.line1>.worker:nth-child(2) {
    display: none;
}



.worker_info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.worker_info>div {
    width: 100%;
    display: flex;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.worker_info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.worker_info>div:first-child {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.worker_info>div:nth-child(2) {
    background-color: #bd956e;
}

.worker_info>div:nth-child(2)>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line1::before {
    width: 100px;
    height: auto;
    position: absolute;
    content: "";
    top: 15px;
}

.worker_info>div>div:first-child {
    padding: 13px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}

.line2 .worker:last-child::before {
    width: 50px;
    height: auto;
    position: absolute;
    top: 3%;
    left: -19%;
    border: 20px solid transparent;
    border-right: 20px solid white;
}

.contact_container {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.246), #e38c36), url(./download.jpg);
    justify-content: flex-start;
    flex-direction: column;
    padding: 60px 30px 0 30px;
    background-repeat: no-repeat;
    /* background-color: red; */
    align-items: center;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.46); */
}

.contact_container img {
    width: 700px;
    height: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_title {
    width: 100%;
    height: 100px;
    color: white;
    /* background-color: red; */
}

.contact_box {
    width: 100%;
    height: auto;
    padding: 50px 30px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    display: flex;
    /* background-color: red; */
}

.contact_box>div {
    width: 400px;
    height: auto;
    /* background-color: green; */
    display: flex;
    /* background-color: #BC6C25; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.contact_box>div>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: #7c5c52; */
}

.contact_box>div>div>div {
    width: 200px;
    height: 100px;
    outline: none;
    display: flex;
    flex-direction: column;
    /* background-color: #BC6C25; */
    gap: 15px;

}

.contact_box textarea {
    display: block;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    /* border: 2px solid white; */
    background-color: #BC6C25;
    background-color: transparent;
    transition: 0.4s;
    outline: none;
    border: 2px solid white;

}

.contact_box textarea:hover {
    background-color: #BC6C25;
}

.contact_box input {
    padding: 10px 20px;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
    align-items: center;
    background-color: transparent;
    transition: 0.5s;
    display: block;
}

.contact_box input:hover {
    background-color: #BC6C25;
}

.contact_container button {
    padding: 15px 30px;
    border-radius: 50%;
    border-radius: 5px;
    background-color: #BC6C25;
    color: white;
    transition: 0.5s;
    border: none;
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.4s;
}

.contact_container button:active {
    scale: 0.9;

}

.contact_container button:hover {
    background-color: white;
    color: #BC6C25;
    outline: none;
}

footer {
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: #e38c36;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer_info {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    /* background-color: red; */
    padding: 20px;
}

.footer_info span {
    /* background-color: red; */
    width: 100%;
    height: auto;
    color: white;

}

.footer_info h3 {
    /* background-color: red; */
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    color: white;
    gap: 15px;
}

.footer_info h3>i {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: red; */
    color: white;
}

.social_links {
    width: 100%;
    color: white;
    justify-content: flex-start;
    list-style: none;
    position: relative;
    align-items: center;
    display: flex;
    /* background-color: red; */
}

.social_links li {
    border-radius: 50%;
    justify-content: center;
    /* background-color: red; */
    align-items: flex-start;
    display: flex;
}

.social_links i {
    width: auto;
    height: auto;
}

.social_links a {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    list-style: none;
    transition: 0.4s;
    list-style-type: none;
    align-items: center;
    display: flex;
}

.social_links a:hover {
    color: white;
    color: black;
    border-radius: 30%;
    background-color: white;
}

.social_links li {
    /* background-color: aqua; */
    gap: 20px;
    height: auto;
    justify-content: center;
    transition: 0.4s;
    align-items: center;
    display: flex;
}

.contact_links {
    width: 300px;
    height: auto;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: 20px;
    list-style: none;
    /* background-color: red; */
}

.contact_links li {
    width: auto;
    height: auto;
    /* color: red; */
}

.contact_links a {
    /* background-color: red; */
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.548);
}

.contact_links a:hover {
    color: white;
}

.opening_links {
    /* background-color: red; */
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    color: white;
}


.opening_links li {
    width: 250px;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}


.opening_links li:first-child {
    /* background-color: red; */
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.opening_links h3 {
    width: auto;
    height: auto;
    gap: 15px;
}

@media (min-width:1024px) and (max-width:1200px) {
    header {
        height: auto;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 40px;
        left: 8%;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.433);
        padding: 20px;
        border-radius: 15px;
    }

    .nav_links {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }

    .kl_fon {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        /* background-color: red; */
    }

    .cafe_kl {
        width: 100%;
        height: auto;
        position: relative;
        /* background-color: red; */
        overflow: hidden;
        border-radius: 15px;
    }

    .bari {
        width: 100%;
        height: auto;
        color: whitesmoke;
        padding: 20px;
        display: block;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .meet_people_box {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        display: flex;
    }

    .menu_box {
        width: 100%;
        height: auto;
        padding: 170px 170px;
        align-items: center;
        justify-content: flex-start;

        gap: 20px;
    }

    .worker {
        width: 500px;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        background-color: white;
        border: 20px solid transparent;
        border-left: 20px solid white;
        border: 5px solid white;
        color: white;
    }

    .opening_links {
        width: 100%;
        gap: 15px;
        flex-direction: column;
        left: 78%;
        top: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        list-style: none;
        color: white;
    }

    .footer {
        width: 100%;
        height: 50vh;
        padding: 20px;
        display: block;
    }

    .footer_info {
        width: 400px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        top: 20px;
        position: relative;
        gap: 15px;
        padding: 10px;
    }


    .contact_links {
        width: 250px;
        height: 100px;
        color: white;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        gap: 5px;
        left: 8%;
        top: -4px;
        position: relative;
        font-size: 20px;
    }


}

@media (min-width:768px) and (max-width:1024px) {

    header {
        height: auto;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 40px;
        left: 8%;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.433);
        padding: 20px;
        border-radius: 15px;
    }

    .menu_btn {
        width: 50px;
        height: 50px;
        /* background-color: red; */
        padding: 2px;
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: white;
        color: white;
        background: transparent;
        transition: 0.4s;
        display: block;
        font-size: 30px;
        right: 5%;
        top: 25%;
    }

    .menu_btn:hover~nav {
        height: 330px;
    }

    header nav {
        width: 400px;
        height: 0px;
        transition: .4s;
        overflow: hidden;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.433);
        top: 100%;
    }

    .nav_links {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }

    .nav_links>ul {
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .kl_fon {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        justify-content: center;
        gap: 15px;
        align-items: center;
        /* background-color: red; */
    }

    .cafe_kl {
        width: 100%;
        height: auto;
        position: relative;
        /* background-color: red; */
        overflow: hidden;
        border-radius: 15px;
    }

    .bari {
        width: 100%;
        height: auto;
        color: whitesmoke;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .worker {
        width: 500px;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        background-color: white;
        border: 20px solid transparent;
        border-left: 20px solid white;
        border: 5px solid white;
        color: white;
    }

    .worker_box {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: #7c5c52;
        gap: 15px;
    }

    .worker::after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        /* background-color: red; */
        right: -69px;
        border: 5px solid #7c5c52;
        background-color: white;
        position: absolute;
        content: "";
        top: 5%;
    }

    .line1 {
        width: 573px;
        height: auto;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        display: flex;
        gap: 30px;
        border: none;
        position: relative;
    }

    .line1::before {
        width: 7px;
        height: 73%;
        background-color: white;
        position: absolute;
        content: "";
        right: 0;
        top: 21px;
    }

    .line1>.worker:nth-child(2) {
        display: flex;
    }

    .line2 {
        display: none;
    }

    .worker_info {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .meet_people {
        width: 220px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }

    .meet_people_info {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        flex-direction: column;
        padding: 10px;
        display: flex;
        background-color: rgba(156, 90, 47, 0.4);
    }

    .contact_container {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px 40px;
        background-repeat: no-repeat;
        display: block;
    }

    .contact_box {
        width: 100%;
        height: auto;
        padding: 0px 10px;
        color: white;
        display: block;
    }

    .footer {
        width: 100%;
        height: 500px;
        padding: 5px;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        background-color: #e38c36;
    }

    .footer_info {
        width: 400px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        top: 20px;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .contact_links {
        width: 250px;
        height: 100px;
        color: white;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        gap: 5px;
        flex-direction: column;
        left: -14%;
        top: -20px;
        position: relative;
        font-size: 20px;
        list-style: none;
    }

    .opening_links {
        width: 100%;
        gap: 15px;
        flex-direction: column;
        left: 3%;
        top: -5px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        list-style: none;
        color: white;
    }

    .creative_container {
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: #bd956e;
    }

    .creative_menu {
        width: auto;
        height: auto;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .meet_people_box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    .menu_box {
        width: 100%;
        height: auto;
        padding: 75px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        display: flex;
        background-size: cover;
    }

    .menu {
        width: 530px;
        height: auto;
        padding: 30px;
        border-radius: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        flex-direction: column;
    }


}

@media(min-width:551px) and (max-width:768px) {

    /* div,
    header,
    section {
        border: 1px solid red;
    } */

    .logo {
        width: 1400px;
        height: auto;
        filter: brightness(0) invert(1);
    }

    header {
        width: 100%;
        left: 0;
        height: auto;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.433);
        padding: 20px;
        border-radius: 0px;
    }

    .menu_btn {
        width: 50px;
        height: 50px;
        /* background-color: red; */
        padding: 2px;
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: white;
        color: white;
        background: transparent;
        transition: 0.4s;
        display: block;
        font-size: 30px;
        right: 5%;
        top: 25%;
    }

    .container_menu {
        width: 202px;
        height: 298px;
        display: flex;
        border-radius: 9%;
        align-items: center;
        justify-content: center;
        transform: rotate(45deg);
    }

    .menu_btn:hover~nav {
        height: 330px;
    }


    header nav {
        width: 400px;
        height: 0px;
        transition: .4s;
        overflow: hidden;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.433);
        top: 100%;
    }

    .nav_links {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }

    .nav_links>ul {
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .kl_fon {
        width: 100%;
        height: auto;
        background-color: #875c31;
        display: block;
        padding: 100px 20px;
    }

    .cafe_kl {
        width: 500px;
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }

    .creative_container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: #bd956e;
    }

    .creative_menu {
        width: auto;
        height: auto;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .meet_people_box {
        width: 100%;
        flex-wrap: wrap;
    }


    .menu_box {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 70px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        display: flex;
        background-size: cover;
    }

    .menu {
        width: 450px;
        height: auto;
        padding: 30px;
        border-radius: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        flex-direction: column;
    }

    .worker {
        width: 500px;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        background-color: white;
        border: 20px solid transparent;
        border-left: 20px solid white;
        border: 5px solid white;
        color: white;
    }

    .worker_box {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: #7c5c52;
        gap: 15px;
    }

    .worker::after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        /* background-color: red; */
        right: -117px;
        border: 5px solid #7c5c52;
        background-color: white;
        position: absolute;
        content: "";
        top: 5%;
    }

    .line1 {
        width: 620px;
        height: auto;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        display: flex;
        gap: 30px;
        border: none;
        position: relative;
    }

    /* .line1::before {
        width: 7px;
        height: 73%;
        background-color: white;
        position: absolute;
        content: "";
        left: 91%;
        top: 21px;
    } */

    .line1>.worker:nth-child(2) {
        display: flex;
    }

    .line2 {
        display: none;
    }

    .worker_info {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .contact_container {
        width: 100%;
        height: 100%;
    }

    .container_klang button {
        width: 108px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        display: flex;
        color: white;
        background-color: orange;
        border: none;
        cursor: pointer;
        transition: 0.4s;
    }

    .contact_box {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 15px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        background-color: #e38c36;
    }

    .footer_info {
        width: 400px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .contact_links {
        width: 290px;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        list-style: none;
    }

    .contact_links li {
        font-size: 16px;
        height: auto;
    }

    .opening_links {
        width: 100%;
        gap: 15px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }

    .opening_links li {
        width: 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        /* background-color: red; */
    }

}

@media(min-width:320px) and (max-width:551px) {
    .logo {
        width: 100px;
        height: auto;
        filter: brightness(0) invert(1);
    }

    /* div,section{
        border: 1px solid red;
    } */

    .container_menu {
        width: 202px;
        height: 298px;
        display: flex;
        border-radius: 9%;
        align-items: center;
        justify-content: center;
        transform: rotate(45deg);
    }

    .container_klang button {
        width: 108px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        display: flex;
        color: white;
        background-color: orange;
        border: none;
        cursor: pointer;
        transition: 0.4s;
    }

    header {
        width: 100%;
        height: auto;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.433);
        padding: 20px;
        border-radius: 0;
    }

    .menu_btn {
        width: 50px;
        height: 50px;
        /* background-color: red; */
        padding: 2px;
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: white;
        color: white;
        background: transparent;
        transition: 0.4s;
        display: block;
        font-size: 30px;
        right: 5%;
        top: 25%;
    }

    .menu_btn:hover~nav {
        height: 325px;
    }

    header nav {
        width: 100%;
        height: 0px;
        transition: .4s;
        overflow: hidden;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.433);
        top: 100%;
    }

    .nav_links {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }

    .nav_links>ul {
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .kl_fon {
        width: 100%;
        height: auto;
        background-color: #875c31;
        display: block;
        padding: 100px 20px;
    }

    .cafe_kl {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }

    .cafe_kl>video {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .bari {
        width: 100%;
        height: auto;
        color: whitesmoke;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .creative_container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: #bd956e;
    }

    .creative_menu {
        width: auto;
        height: auto;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .meet_people_box {
        width: 100%;
        flex-wrap: wrap;
    }

    .meet_people {
        width: 200px;
        height: 250px;
    }

    .meet_people_info span {
        width: 90px;
        height: auto;
        color: white;
        position: relative;
        text-align: center;
        border-radius: 5%;
        left: -10%;
        padding: 6px;
        background-color: rgb(231, 153, 6);
    }


    .menu_box {
        width: 100%;
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
        display: flex;
        background-size: cover;
    }

    .menu {
        width: 300px;
        height: auto;
        padding: 30px;
        border-radius: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        flex-direction: column;
    }

    .worker {
        width: 250px;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        background-color: white;
        border: 20px solid transparent;
        border-left: 20px solid white;
        border: 5px solid white;
        color: white;
    }

    .worker_box {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: #7c5c52;
        gap: 15px;
    }

    .worker::after {
        display: none;
    }

    .worker::before {
        display: none;
    }

    .line1 {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        display: flex;
        gap: 30px;
        border: none;
    }
    

    .worker_info {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }


    .contact_container {
        width: 100%;
        height: 100%;

    }

    .contact_box {
        width: 100%;
        height: auto;
        flex-direction: column;
        color: white;
    }

    .contact_links li {
        font-size: 16px;
        height: auto;
    }

    footer {
        width: 100%;
        height: auto;
        padding: 20px;
        gap: 15px;
        flex-wrap: wrap;
        display: flex;
        background-color: #e38c36;
    }

    .footer_info {
        height: auto;
        display: flex;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .contact_links {
        color: white;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        list-style: none;
    }

    .contact_box textarea {
        width: 270px;
        height: auto;
        display: flex;
        padding: 40px;
        outline: none;
        border: 2px solid white;
    }

    .contact_box>div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .contact_box>div>div>div {
        width: 200px;
        height: 100px;
        outline: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .opening_links {
        width: 100%;
        font-size: 14px;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .opening_links li {
        width: 301px;
        height: auto;
        padding: 10px;
        gap: 15px;
        overflow: hidden;
    }
}